.Nav-Wrapper {
    height: 100px;
    width: 100%
}

.Nav-Bar {
    height: 100%;
    width: 100%;
    background: black;
    justify-content: center;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.header-text {
    color: gold;
    padding-left: 25%;
    
}

.about-wrap {
    justify-content: flex-end;
}

.about {
    color: white;
}
